<script src="scripts.js"></script>
<p>Logged in as <strong><%= @current_user.name %></strong>.</p>

<% @posts.each do |post| %>
  <div class="post">
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    
    <div id="<%= post.id %>" class="likes">
      <% if @current_user.liked_post?(post.id) %>
        <img src="images/star.jpg" width="20px">
      <% else %>
        <a href="/like/<%= post.id %>">
          <img src="images/images.png" width="20px">
        </a>
      <% end %>
      
      <span>
        <strong id="likes-<%= post.id %>"><%= post.likes %></strong> likes
      </span>
    </div>
  </div>
<% end %>