<p>Logged in as <strong><%= @current_user.name %></strong>.</p>

<% @posts.each do |post| %>
  <div class="post">
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    
    <div class="likes">
      <% if @current_user.liked_post?(post.id) %>
        <em>You like this post!</em>
      <% else %>
        <a href="/like/<%= post.id %>">Like</a>
      <% end %>
      
      <span>
        <strong id="likes-<%= post.id %>"><%= post.likes %></strong> likes
      </span>
    </div>
  </div>
<% end %>